<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<head>
    <meta content="text/html;charset=UTF-8" http-equiv="Content-Type"/>
    <link href="$base/stylesheets/main.css?$date.systemTime" media="screen" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="$base/scripts/jquery-1.4.4.js"></script>
    <script type="text/javascript" src="$base/scripts/table.jquery.js"></script>
    <script type="text/javascript" src="$base/scripts/niko-niko.js"></script>
    <link rel="shortcut icon" href="$base/images/favicon.ico"/>
    <title>$title</title>
    $head
</head>
<body>
<div class="content">
	$body
</div>

</body>
</html>