<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<head>
    <meta content="text/html;charset=UTF-8" http-equiv="Content-Type"/>
    <link href="$base/stylesheets/main.css?$date.systemTime" media="screen" rel="stylesheet" type="text/css"/>

    <link rel="stylesheet" href="$base/scripts/plugins/slickgrid/slick.grid.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="$base/scripts/plugins/slickgrid/css/smoothness/jquery-ui-1.8.5.custom.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="$base/scripts/plugins/slickgrid/css/niko-niko.css" type="text/css" media="screen" charset="utf-8" />
    <script type="text/javascript" src="$base/scripts/plugins/slickgrid/lib/jquery-1.4.3.min.js"></script>
    <script language="JavaScript" src="$base/scripts/plugins/slickgrid/lib/jquery-ui-1.8.5.custom.min.js"></script>

    <script type="text/javascript" src="$base/scripts/niko-niko.js"></script>
    <script type="text/javascript" src="$base/scripts/niko-niko.editors.js"></script>


    <script type="text/javascript" src="$base/scripts/plugins/slickgrid/lib/jquery.event.drag-2.0.min.js"></script>
    <script type="text/javascript" src="$base/scripts/plugins/slickgrid/slick.grid.js"></script>
    <script type="text/javascript" src="$base/scripts/plugins/slickgrid/slick.editors.js"></script>

    <link rel="shortcut icon" href="$base/images/favicon.ico"/>
    <title>$title</title>
    $head
</head>
<body>
<div class="content">
	$body
</div>

</body>
</html>